<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Connie Ho</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" href="static/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Roboto+Condensed:wght@300&family=Sacramento&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="content-container">
      <img id="cloud1" src="static/images/pink cloud.png" alt="pink cloud" width=150 height=100>
      <img id="cloud2" src="static/images/pink cloud.png" alt="pink cloud" width=150 height=100>
      <img id="profile-pic" src="static/images/profile.jpg" alt="profile pic" width=200 height=200>
      <h1>I'm Connie.</h1>
      <p>an <span class="bold">ex</span> chemical biomedical engineer, an incoming software developer</p>
      <a href="https://www.linkedin.com/in/connie-ho-7540bbaa">LinkedIn</a>
      <a href="https://github.com/chonie1">GitHub</a>
      <div class="rgb-container">
        <div class="red"></div>
        <div class="green"></div>
        <div class="blue"></div>
      </div>
    </div>


  </body>
  <footer>
    Connie Ho 2021
  </footer>
</html>