/* Effects */
@keyframes fadeIn {
  from {
    opacity: 0;
    /* -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); */
  }
  to {
    opacity: 1;

    transform: none;
  }
}

/* Tag Styles */
html {
  height:100%;
}

body {
  height: 100%;
  text-align: center;
  color: rgba(255,255,255,0.6);
  font-family: "Source Sans Pro", "Roboto" sans-serif;
  font-weight: 300;
  background: linear-gradient(#B1BDDD, #AA878A);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  text-transform: uppercase;
}

h1 {
  letter-spacing: 5px;
  font-size: 2rem;
  margin: 0;
  /* color: rgba(255,255,255,0.5) */
}

hr {
  border: 1px solid white;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.1rem;
}

button {
  background-color: transparent;
  border: none;
  color: #a9a9a9;
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

.card {
  width: 400px;
  background: linear-gradient(to bottom right, rgba(255,255,255,0.3), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(20px);
  border: none;
  border: 0.5px solid;
  border-image-source: linear-gradient(to bottom right, rgba(255,255,255,0.5), rgba(255,255,255,0));
  border-image-slice: 1;
}

.profile-pic {
  border-radius: 50%;
  margin: 10% auto;
}


.icon {
  color: rgba(255, 255, 255, 0.5);
  font-size:  2rem;
  margin: 2% 2% 10%;
}

.icon:hover {
  background: linear-gradient(#B1BDDD, #AA878A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  position: absolute;
  margin: 0 auto;
  bottom: 0%;
}

footer p {
  color: #d3d3d3;
  font-size: 0.5rem;
  letter-spacing: 2px;
}

/* Dark Mode */
.dark-btn {
  background-color: transparent;
  border: none;
  color: #d3d3d3;
  text-decoration: none;
  position: absolute;
  right: 5%;
}

/* .card.dark-mode{
  background: #222;
  color:#d3d3d3;
} */


.animate {
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}

/* No greater than 900 and no less than 400 px */
@media (max-width:900px) and (min-width:450px) {
  .card {
    width: 50%;
  }
}

@media (max-width:450px) {
  .card {
    width: 90%;
  }
}